.footer
  .footer__wrapper
    .footer__social(data-animation="title")
      .footer__instagram
        figure
          a(href="https://www.instagram.com/athletesonthemat/" target="_blank" rel="noopener noreferrer")
            img.preloaded(data-src="images/instagram_pixel.svg" alt="instagram icon")
      .footer__facebook
        figure
          a(href="https://www.facebook.com/athletesonthemat" target="_blank" rel="noopener noreferrer")
            img.preloaded(data-src="images/facebook_pixel.svg" alt="facebook icon") 
      .footer__youtube
        figure
          a(href="https://www.youtube.com/@MicroidsOff" target="_blank" rel="noopener noreferrer")
            img.preloaded(data-src="images/youtube_pixel.svg" alt="youtube icon")
      .footer__website
        figure
          a(href="https://www.athletesonthemat.com" target="_blank" rel="noopener noreferrer")
            img.preloaded(data-src="images/website_pixel.svg" alt="athletes on the mat icon to website") 
      .footer__email
        figure
          a(href="mailto:contact@athletesonthemat.com" target="_blank" rel="noopener noreferrer")
            img.preloaded(data-src="images/email_pixel.svg" alt="message icon to send us an email") 
    .footer__notice__wrapper(data-animation="title")
      .footer__notice
        a(href="https://www.athletesonthemat.com" rel="noreferrer noopener" target="_blank")
          p Terms and Legal Notices
    .footer__mentions__wrapper
      figure(data-animation="title")
        a(href="mailto:contact@athletesonthemat.com" target="_blank" rel="noopener noreferrer")
          img.preloaded(data-src="/images/logo-microids-athom.svg" alt="logos of the collaboration between Microids and Athletes on the mat") 
      p.footer__mentions(data-animation="title") © 2023 MICROIDS SA. ALL RIGHTS RESERVED.
      p.footer__mentions(data-animation="title") GAME CREATED BY PAUL CUISSET.
      p.footer__mentions(data-animation="title") DEVELOPED BY MICROIDS STUDIO LYON / PARIS.
      p.footer__mentions(data-animation="title") FLASHBACK IS A TRADEMARK OF PAUL CUISSET AND IS USED UNDER LICENCE. ALL RIGHTS RESERVED.