.footer
  .footer__wrapper
    .footer__social
      .footer__instagram
        figure
          a(href="https://www.instagram.com/athletesonthemat/" target="_blank" rel="noopener noreferrer")
            img(src="images/instagram_pixel.svg" alt="instagram icon")
      .footer__facebook
        figure
          a(href="https://www.facebook.com/athletesonthemat" target="_blank" rel="noopener noreferrer")
            img(src="images/facebook_pixel.svg" alt="facebook icon") 
      .footer__youtube
        figure
          a(href="https://www.youtube.com/@MicroidsOff" target="_blank" rel="noopener noreferrer")
            img(src="images/youtube_pixel.svg" alt="youtube icon")
      .footer__website
        figure
          a(href="https://www.athletesonthemat.com" target="_blank" rel="noopener noreferrer")
            img(src="images/website_pixel.svg" alt="athletes on the mat icon to website") 
      .footer__email
        figure
          a(href="mailto:contact@athletesonthemat.com" target="_blank" rel="noopener noreferrer")
            img(src="images/email_pixel.svg" alt="message icon to send us an email") 
    .footer__notice__wrapper
      .footer__notice(href="flashback-full.jpg" download rel="noreferrer noopener" target="_blank")
        p Terms and Legal Notices
  .footer__mentions__wrapper
    p.footer__mentions © 2023 MICROIDS SA. ALL RIGHTS RESERVED.
    p.footer__mentions GAME CREATED BY PAUL CUISSET.
    p.footer__mentions DEVELOPED BY MICROIDS STUDIO LYON / PARIS.
    p.footer__mentions FLASHBACK IS A TRADEMARK OF PAUL CUISSET AND IS USED UNDER LICENCE. ALL RIGHTS RESERVED.