nav.navigation__wrapper
  .navigation__item.navigation__logo
    img.preloaded(data-src="/images/logo-microids-athom.svg" alt="logos of the collaboration between Microids and Athletes on the mat")
  .navigation__item.navigation__text
    p welcome
  .navigation__item
    .navigation__link__wrapper
      a.navigation__link(href="https://athletesonthemat.com", target="_blank") official shop
