.preloader
  .preloader__up--one 
  .preloader__down--one
  .preloader__up--two 
  .preloader__down--two
  .preloader__brands
    figure.preloader__brands--figure
      img.preloader__brands__image(src="images/logo-microids-athom.svg" alt="logos of the collaboration between Microids and Athletes on the mat")
  .preloader__number 
    p.preloader__number--text TOTAL WAR HAS BEGUN