.preloader
  .preloader__wiper.blue
  .preloader__wiper.violet
  .preloader__wiper.brown
  .preloader__wiper.black
  .preloader__brands
    figure.preloader__brands--figure
      img.preloader__brands__image(src="images/logo-microids-athom.svg" alt="logos of the collaboration between Microids and Athletes on the mat")
  .preloader__number 
    p.preloader__number--text 0%